.healthcare {
  padding: 60px 5px 40px 5px;
  @media (max-width: 991.98px) {
  }
  @media (max-width: 767.98px) {
    padding: 40px 5px 20px 5px;
  }
  @media (max-width: 479.98px) {
    padding: 25px 5px 20px 5px;
  }
  // .healthcare__content
  &__content {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px 0;
    @media (max-width: 767.98px) {
      max-width: 400px;
    }
  }
  // .healthcare__items
  &__items {
    display: flex;
    align-items: center;
    padding: 47px 0px 0px 0px;
    @media (max-width: 991.98px) {
      flex-direction: column;
    }
    @media (max-width: 767.98px) {
      padding: 24px 0px 0px 0px;
    }
  }
  // .healthcare__column
  &__column {
    position: relative;
    z-index: 5;
    margin: 0px 72px 0px 0px;
    &:last-child {
      margin-right: 0px;
    }
    @media (max-width: 991.98px) {
      margin: 0px 0px 25px 0px;
      &:last-child {
        margin: 0;
      }
    }
    @media (max-width: 767.98px) {
      display: flex;
      flex-wrap: wrap;
    }
    @media (max-width: 479.98px) {
    }

    // .healthcare__column_1
    &_1 {
      &::after,
      &::before {
        content: "";
        position: absolute;
        background: #ec5863;
      }
      &::after {
        width: 97px;
        height: 97px;
        right: -51px;
        top: 37px;
        border-radius: 30px;
        transform: rotate(105deg);
      }
      &::before {
        width: 66px;
        height: 66px;
        left: -20px;
        bottom: -29px;
        border-radius: 16px;
        transform: rotate(-30deg);
      }
    }
    // .healthcare__column_2
    &_2 {
      &::after {
        position: absolute;
        content: "";
        width: 127px;
        height: 127px;
        right: -76px;
        bottom: -19px;
        border-radius: 30px;
        transform: rotate(-30deg);
        background: #ec5863;
      }
    }
    // .healthcare__column_3
    &_3 {
      &::after {
        position: absolute;
        content: "";
        width: 66px;
        height: 66px;
        right: -23px;
        top: -33px;
        border-radius: 16px;
        transform: rotate(-30deg);
        background: #ec5863;
        @media (max-width: 991.98px) {
          left: -23px;
          top: 183px;
        }
      }
    }
  }
  // .healthcare__item
  &__item {
    position: relative;
    z-index: 5;
    // margin: 0px 72px 0px 0px;
  }
}
.item-healthcare {
  width: 278px;
  padding: 37px 18px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  text-align: center;
  // .item-healthcare__icon
  &__icon {
    margin: 0px 0px 58px 0px;
    @media (max-width: 991.98px) {
      margin: 0px 0px 38px 0px;
    }
    @media (max-width: 767.98px) {
      margin: 0px 0px 28px 0px;
    }
  }
  // .item-healthcare__title
  &__title {
    font-family: $mainFont;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.39;
    letter-spacing: 0.08em;
    font-feature-settings: "pnum" on, "lnum" on;
    margin: 0px 0px 4px 0px;

    color: #000000;
  }
  // .item-healthcare__text
  &__text {
    font-family: $mainFont;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.39;
    letter-spacing: 0.08em;
    font-feature-settings: "pnum" on, "lnum" on;

    color: #616161;
  }
}
