.healthcare {
  padding: 79px 0px 0px 0px;
  // .healthcare__container
  &__container {
  }
  // .healthcare__content
  &__content {
    margin: 0 auto;
  }
  // .healthcare__cards-body
  &__cards-body {
    padding: 46px 0px 39px 0px;
  }
}
.content-healthcare {
  max-width: 668px;
  text-align: center;
  @media (max-width: 767.98px) {
    max-width: 590px;
  }
}
.text {
  // .text__block-title
  &__block-title {
  }
  // .text__clock-subtitle
  &__clock-subtitle {
  }
}
.content-text {
  // .content-text__pink
  &__pink {
  }
}
.cards {
  // .cards__list
  &__list {
    display: flex;
    align-items: center;
    // justify-content: space-around;

    @media (max-width: 767.98px) {
      flex-direction: column;
      // align-items: center;
      // justify-content: center;
    }
  }
  // .cards__item
  &__item {
    font-family: $mainFont;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 279px;
    max-height: 274px;
    padding: 37px 18px;
    margin: 0px 72px 0px 0px;
    background: #ffffff;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
    &:last-child {
      margin-bottom: 0px;
    }
    @media (max-width: 991.98px) {
      margin: 0px 36px 0px 0px;
    }
    @media (max-width: 767.98px) {
      margin: 24px 0px;
    }
  }
  // .cards__icon
  &__icon {
  }
  // .cards__title
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.08em;
    margin: 58px 0px 4px 0px;

    color: #000000;
    @media (max-width: 991.98px) {
      margin: 26px 0px 4px 0px;
    }
    @media (max-width: 767.98px) {
      margin: 13px 2px;
    }
  }
  // .cards__subtitle
  &__subtitle {
    font-family: $mainFont;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.08em;

    color: #616161;
  }
}
.card {
  // .card__decoration-1
  &__decoration-1 {
  }
  // .card__decoration-2
  &__decoration-2 {
  }
  // .card__decoration-3
  &__decoration-3 {
  }
  // .card__decoration-4
  &__decoration-4 {
  }
}
