.family {
  // margin-top: 153px
  z-index: 10;
  background-color: rgba(250, 251, 253, 1);
  // .family__container
  &__container {
    // margin: 153px 0px 0px 0px;
    padding: 193px 0px 0px 22px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 1091.98px) {
      display: flex;
      flex-direction: column;
      padding: 50px 0px 0px 22px;
    }
    @media (max-width: 991.98px) {
      justify-content: center;
      padding: 13px 0px 0px 22px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      right: 267px;
      top: 0;
      transform: translate(100%, 0px);
      border-radius: 30px 0px 0px 30px;
      background-color: #ec5863;
    }
  }
  // .family__content
  &__content {
    z-index: 5;
    padding: 114px 0px 0px 22px;
    display: flex;
    flex: 0 1 48%;
    @media (max-width: 1091.98px) {
      justify-content: center;
      margin: 0px 0px 50px 0px;
    }
    @media (max-width: 991.98px) {
      margin: 0px 0px 30px 0px;
    }
  }
  // .family__content-text
  &__content-text__blue {
    min-width: 380px;
  }
}
// .family__content-img
.family__content-img {
  z-index: 5;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex: 0 1 52%;
  &__img-icon {
    @media (max-width: 767.98px) {
      width: 75%;
      height: 75%;
    }
  }
}
.content-text__blue {
  color: #4285f4;
}
// .family__video-box
.family__video-box {
  z-index: 5;
  padding: 55px 0px 55px 0px;
  @media (max-width: 1091.98px) {
    margin: 0 auto;
  }
}
.video {
  // .video__box-link
  &__box-link {
    display: flex;
  }
  // .video__box-icon
  &__box-icon {
    border-radius: 50%;
    margin: 0px 12px 0px 0px;
    &:hover {
      transform: rotate(-180deg);
      background: rgba(236, 88, 99, 0.5);
      transition: background 1s ease 0s;
      transition: transform 0.8s ease 0s;
    }
  }
  // .video__box-text
  &__box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $mainFont;
    font-weight: 400;
    line-height: 1.27;
    &__litle {
      margin: 0px 0px 5px 0px;
      font-size: 13px;
      letter-spacing: 0.08em;

      color: #b0b0b0;
    }
    &__subtitle {
      font-size: 9px;
      letter-spacing: 0.165em;
      text-transform: uppercase;

      color: #000000;
    }
  }
}
