.footer {
  background-color: #ffffff;
  padding: 47px 0px;
  @media (max-width: 991.98px) {
    padding: 30px 0px;
  }
  @media (max-width: 767.98px) {
    padding: 15px 0px;
  }
}
.foter {
  // .foter__img-list
  &__img-list {
    display: flex;
    justify-content: center;
    @media (max-width: 767.98px) {
      flex-direction: column;
      align-items: center;
    }
  }
  // .foter__img-item
  &__img-item {
    margin: 0px 65px 0px 0px;
    &:last-child {
      margin: 0px;
    }
    @media (max-width: 767.98px) {
      margin: 0px 45px 0px 0px;
      &:last-child {
        margin: 0px;
      }
    }
    @media (max-width: 767.98px) {
      margin: 0px 0px 20px 0px;
      &:last-child {
        margin: 0px;
      }
    }
  }
  // .foter__image
  &__image {
  }
}
