.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  @media (max-width: 767.98px) {
    &:target .header__menu-nav {
      left: 0;
    }
    &:target .header__menu-nav:before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      height: 80px;
      width: 100%;
      background-color: #fff;
    }
  }
  // .header__container
  &__container {
    min-height: 114px;
    display: flex;
    align-items: center;
    @media (max-width: 991.98px) {
      min-height: 80px;
    }
  }
  // .header__logo
  &__logo {
    display: flex;
    flex-direction: row-reverse;
    @media (max-width: 479.98px) {
      flex: 0 0 70px;
    }
    @media (max-width: 379.98px) {
      flex: 1 1 auto;
    }
  }
  // .header__logo-text
  &__logo-text {
    display: flex;
    align-items: center;

    font-family: $mainFont;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    &__pink {
      color: #ec5863;
    }
    @media (max-width: 339.98px) {
      display: none;
      overflow: hidden;
    }
  }
  // .header__menu
  &__menu {
    flex: 1 1 auto;
  }
  // .header__menu-nav
  &__menu-nav {
    @media (max-width: 767.98px) {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #fff;
      padding: 90px 15px 30px 15px;
      transition: left 0.3s ease 0s;
    }
  }
  // .header__menu-list
  &__menu-list {
    display: flex;
    justify-content: end;
    @media (max-width: 767.98px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__menu-item {
    margin-right: 40px;
    @media (max-width: 991.98px) {
      margin-right: 30px;
    }
    @media (max-width: 767.98px) {
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  // .header__menu-link
  &__menu-link {
    font-family: $mainFont;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.14em;

    color: #000000;
    &:hover {
      text-decoration: underline;
      color: #ec5863;
    }
  }
  // .header__action
  &__action {
    display: flex;
    justify-content: end;
    flex: 0 0 252px;
    @media (max-width: 991.98px) {
      flex: 0 0 170px;
    }
  }
}
.button {
  font-family: $secondFont;
  font-weight: 800;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.14em;

  color: #fcfdfe;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
  height: 40px;
  background: #ec5863;
  border-radius: 5px;
  // .button__blue
  &__blue {
    background: #4285f4;
    // justify-content: end;
  }
}
